.homeWrapper {
  margin: 77px 0 0 0;
  width: 100%;
}
.homeHeroWrapper {
  position: relative;
}
.heroBgImg {
  width: 100%;
}
.heroContactBtn {
  position: absolute;
  left: 40%;
  font-size: 18px;
  top: 43%;
  width: 30%;
  min-width: 180px;
  height: 50px;
  border: none;
  background-color: #e33d4e;
  color: #ffffff;
  border-radius: 5px;
}
.heroContactBtn:hover {
  background-color: #e33d4e;
  cursor: pointer;
  border: 0.4px solid black;
}
.heroTitle {
  position: absolute;
  top: 85%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  cursor: default;
}
.mainInfoWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f111c;
}
.mainInfoItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 100%;
}
.mainInfoTitle {
  color: #ffffff;
}
.mainInfoSubtitle {
  color: #e33d4e;
  z-index: 1;
  cursor: default;
}
.mainInfoImg {
  width: 150px;
  position: absolute;
  z-index: 0;
  opacity: 0.1;
}
.homeDisciplinesWrapper {
  color: #ffffff;
}
.homeDisciplinesTitle {
  text-align: center;
  margin: 35px 0 15px;
}
.disciplinesCards {
  display: flex;
  justify-content: space-around;
}
.disciplineCardsItem {
  position: relative;
  background-color: #121729;
  width: 200px;
}
.disciplinesCardsItemImg {
  width: 100%;
}
.disciplineCardsCalendarLink {
}
.calendarLinkImg {
  width: 60px;

  position: absolute;
  left: 36%;
  top: 50%;
  background-color: #121729;
  border-radius: 30px;
  padding: 5px;
}
.calendarLinkImg:hover {
  cursor: pointer;
  background-color: #ffffffc0;
}
.disciplinesCardsTitle {
  padding: 15px 0 0 0;
}
.homeAboutUsWrapper {
  margin: 55px 0;
  display: flex;
  color: #ffffff;
  justify-content: center;
}
.homeAboutUsSide {
  max-width: 750px;
}
.homeAboutUsSideImg {
  width: 100%;
  height: 650px;
  border-radius: 5px;
}
.homeAboutUsMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0 100px;
  margin: 0 0 0 50px;
}
.homeAboutUsMainInfo {
}
.homeAboutUsMainTitle {
}
.homeAboutUsMainSubtitle {
}
.homeAboutUsMainBenefits {
}
.homeAboutUsList {
  list-style: circle;
}
.homeAboutUsListItem {
}
.homeAboutTrainer {
  font-size: 24px;
}
.homeAboutUsTrainerTitle {
  font-size: 14px;
  color: #e33d4e;
}

.homeBlogWrapper {
  color: #ffffff;
}
.homeBlogTitle {
  text-align: center;
  margin: 0 0 25px;
}
.homeBlogCards {
  display: flex;
  justify-content: space-around;
}
.homeBlogCardItem {
  width: 300px;
}
.homeBlogCardImg {
  width: 300px;
  height: 250px;
}
.homeBlogCardDate {
  color: #e33d4e;
  font-size: 14px;
}
.homeBlogCardText {
}
.homeBlogCardTitle {
}
.homeBlogCardSubtitle {
}
